aniso8601==9.0.1
anytree==2.8.0
apparmor==3.0.3
appdirs==1.4.4
application-utility==1.3.2
argcomplete==1.12.1
attrs==21.2.0
backcall==0.2.0
backports.entry-points-selectable==1.1.0
btrfsutil==5.14.2
CacheControl==0.12.6
cachelib==0.4.1
ceph==1.0.0
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
certifi==2021.10.8
cffi==1.14.6
chardet==4.0.0
click==8.0.3
colorama==0.4.4
contextlib2==0.6.0.post1
cryptography==3.4.8
cupshelpers==1.0
decorator==5.0.9
distlib==0.3.3
distro==1.6.0
dnspython==2.1.0
docopt==0.6.2
filelock==3.3.0
Flask==1.1.2
Flask-Cors==3.0.10
flask-restplus==0.13.0
Flask-Session==0.4.0
html5lib==1.1
idna==3.2
ipython==7.25.0
ipython-genutils==0.2.0
isc==2.0
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.2
jsonschema==4.1.2
kazam==1.4.5
keyutils==0.6
lensfun==0.3.95
LibAppArmor==3.0.3
libtorrent===1.2.14-build-libtorrent-rasterbar-src-libtorrent-rasterbar-1.2.14-bindings-python
louis==3.19.0
lxml==4.6.3
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib-inline==0.1.2
meson==0.59.2
more-itertools==8.10.0
msgpack==1.0.2
netsnmp-python==1.0a1
npyscreen==4.10.5
numpy==1.21.1
OpenCC==1.1.2
ordered-set==4.0.2
packaging==20.9
pacman-mirrors==4.21.5
pandas==1.3.0
parso==0.8.2
pep517==0.11.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.2
platformdirs==2.4.0
ply==3.11
progress==1.5
prompt-toolkit==3.0.19
ptyprocess==0.7.0
py4j==0.10.9.2
pycairo==1.20.1
pycparser==2.20
pycups==2.0.1
pycurl==7.44.1
Pygments==2.10.0
PyGObject==3.40.1
PyMySQL==1.0.2
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-sip==12.9.0
pyrsistent==0.18.0
pysmbc==1.0.23
python-dateutil==2.8.2
python-distutils-extra==2.39
pytz==2021.1
pyxdg==0.27
PyYAML==5.4.1
rados==2.0.0
rbd==2.0.0
reportlab==3.6.1
requests==2.26.0
resolvelib==0.5.5
retrying==1.3.3
rgw==2.0.0
six==1.16.0
team==1.0
termcolor==1.1.0
tldr==2.0.0
toml==0.10.2
tomli==1.2.1
traitlets==5.0.5
udiskie==2.3.3
urllib3==1.26.6
virtualenv==20.8.1
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.2
